#更新fork
name: update fork

on:
  schedule:
    - cron: '0 16 * * *' #0点定时任务
concurrency:
  group: ${{ github.ref }}-${{ github.workflow }}
  # 自动取消其他运行中的workflow
  cancel-in-progress: true

jobs:
  build:
    name: Sync latest commits from upstream repo
    runs-on: ubuntu-latest
    if: ${{ github.event.repository.owner.id == github.event.sender.id && github.actor != 'gedoor' }}
    steps:
      # Step 1: run a standard checkout action
      - name: Checkout target repo
        uses: actions/checkout@v6
        with:
          token: ${{ secrets.ACTIONS_TOKEN }}
          fetch-depth: 0

      # Step 2: configure git
      - name: Configure Git
        run: |
          git config user.name "GitHub Action"
          git config user.email "action@github.com"
          
      # Step 3: fetch upstream changes
      - name: Fetch upstream changes
        run: |
          git remote add upstream https://github.com/gedoor/legado.git
          git fetch upstream
          
      # Step 4: create a new branch with upstream changes
      - name: Create branch with upstream changes
        run: |
          git checkout -b upstream-sync-${{ github.run_id }} main
          git merge upstream/master
          
      # Step 5: Create Pull Request
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v7
        with:
          token: ${{ secrets.ACTIONS_TOKEN }}
          branch: upstream-sync-${{ github.run_id }}
          delete-branch: true
          title: 'Sync with upstream repository'
          body: |
            Sync with upstream repository changes
            
            Auto-generated by GitHub Actions
          labels: |
            automated pr
            sync

      - name: Sync check
        if: failure()
        run: |
          echo "[Error] Due to a change in the workflow file of the upstream repository, GitHub has automatically suspended the scheduled automatic update. You need to manually sync your fork."
          exit 1
